@font-face {
  font-family: regular;
  src: url(./SpotifyMixUI-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: regular;
  font-weight: 400;
  font-size: 1.6rem;
}

/* Hide scrollbar but allow scrolling */
.scrollable-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 53%);
  border-radius: 4px;
}


i {
  cursor: pointer;
}

html,
body {
  font-size: 62.5%;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.sidebar {
  width: 40rem;
  height: 88.2vh;
}

.sidebar_header {
  height: 16rem;
}

.logo {
  padding-top: 1rem;
  margin-left: 0.7rem;
}

.nav_container {
  padding: 0.5rem 0.75rem;
}

.nav_items {
  line-height: 2.5rem;
}

.nav_items:hover {
  opacity: 1;
}

.nav_items i {
  line-height: 1.5rem;
  font-size: 2rem;
}

.nav_items a {
  margin-left: 0.8rem;
}

.library-container {
  margin-top: -8px;
  justify-content: center;
  height: 64vh;
  position: relative;
}

.playlist {
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  width: 100%;
  max-height: 30vh;
}

.terms-section {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.terms-section span {
  font-size: 1.2rem;
  font-weight: 500;
}

.main_content {
  flex: 1;
  height: 88vh;
}

.border {
  padding: 0.4rem 1rem;
  border: 1px solid #eee;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  font-weight: bold;
}

.music_player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: hsl(0, 0%, 15%);
}
